<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
>
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php">./test</directory>
    </testsuite>
  </testsuites>
  <!--
    These confine the failOn* gates above to first-party code. Old but still
    supported dependencies (symfony/console 5.4 on the prefer-lowest CI leg) emit
    deprecations on newer PHP that this project cannot fix; our own must still fail.

    PHPUnit 11 replaced restrictDeprecations with ignoreIndirectDeprecations,
    which states the same rule the other way round: a deprecation raised outside
    <source> no longer counts.
  -->
  <source ignoreIndirectDeprecations="true"
          restrictNotices="true"
          restrictWarnings="true"
  >
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
